@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

// Page Color Vars
$home-bg-color: #1e3d59;
$about-bg-color: #f5f0e1;
$skills-bg-color: #f76c6c;
$work-bg-color: #333;
$contact-bg-color: #ffc13b;

// Font Color Vars
$light-font-color: #fff;
$dark-font-color: #333;
$highlight-font: #f76c6c;

// Font Vars
$main-font: 'Poppins', sans-serif;

